################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp/.vs/BlazorApp/v16
/BlazorApp/BlazorApp.Client/bin/Debug/netcoreapp3.1
/BlazorApp/BlazorApp.Client/bin/Debug/netstandard2.1
/BlazorApp/.vs/BlazorApp/config
/BlazorApp/BlazorApp.ComponentsLibrary/bin/Debug/netstandard2.0
/BlazorApp/BlazorApp.ComponentsLibrary/obj
/BlazorApp/BlazorApp.Server/bin/Debug/netcoreapp3.1
/BlazorApp/BlazorApp.Server/obj
/BlazorApp/BlazorApp.Shared/bin/Debug/netstandard2.1
/BlazorApp/BlazorApp.Shared/obj
